<template>
    <div class="app-container">
        <p><%= name %></p>
        <p><%= fn.snakeFormatHump(name) %></p>
        <p><%= comment %></p>
    </div>
</template>

<script setup name="<%= fn.snakeFormatHump(name) %>AddOrEdit">
//
</script>

<style lang="scss" scoped></style>
